.App {
  text-align: center;
  background-color: #b3ce27;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body,
html {
  height: 100%;
  background-repeat: no-repeat;
  font-family: Arial !important;
}

th {
  border-bottom: 0 !important;
}

.table td,
.table th {
  padding: 0.55rem !important;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  border: 1px #b3ce27 solid;
  height: 70vh;
}

.navbar-container {
  justify-content: flex-start !important;
  background-color: white !important;
  padding: 0;
  height: 10vh;
}

.page-container {
  justify-content: flex-start !important;
  background-color: white !important;
  height: 90vh;
}

.search-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px #b3ce27 solid;
  border-top: 2px #b3ce27 solid;
  border-left: 0px;
  border-right: 0px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 20%;
}

.grid-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px #b3ce27 solid;
  border-top: 2px #b3ce27 solid;
  border-left: 0px;
  border-right: 0px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.navbar {
  width: 100%;
}

.card-header {
  border-bottom: 2px #b3ce27 solid !important;
  width: 100% !important;
  text-align: center;
}

.page-item.active .page-link {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.containerOperation {
  border: 1px #b3ce27 solid;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  width: 50%;
  margin: auto;
  margin-top: 5% !important;
}

.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 27%;
  height: 18vh;
  margin-bottom: 4%;
  border: 1px solid #b3ce27;
}

.form-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 60%;
  margin: 5px;
  margin-bottom: 8%;
}

.button-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.btn-login {
  width: 30%;
}

.formUser {
  margin: 2%;
}

.ricercaClienti {
  margin: 16px;
}

.formRicercaClienti {
  border: 1px black solid;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.commondFieldset {
  border: 1px black solid;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 3px;
}

.commondFieldsetLabel {
  margin-left: 20px;
}

.formRicercaClientiError {
  border: 1px black solid;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.labelForm {
  margin-top: 8px;
  margin-bottom: 0px !important;
}

.form-group {
  margin-bottom: 8px !important;
}

.labelButton {
  margin-top: 32px;
  margin-bottom: 0px !important;
}

.bottoneRicerca {
  margin-top: 25px;
}

.verifyRegistry {
  border: 1px black solid;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.underlined {
  text-decoration: underline;
}

.checkBox {
  margin-top: 5px;
  margin-left: 4%;
}

.tableClienti {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 98%;
  border-bottom: 2px #b3ce27 solid;
  border-top: 2px #b3ce27 solid;
  border-left: 0px;
  border-right: 0px;
}

.bottoneDettaglio {
  border-bottom: 1px black solid;
}

.errorInput {
  border: 1px red solid;
}

.navButton {
  color: black;
}

.navButton:hover {
  color: black;
}

.active {
  text-decoration: underline black;
}

.noPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.reactselect-valid > .css-yk16xz-control {
  border-color: #28a745;
}

.reactselect-invalid > .css-yk16xz-control {
  border-color: #dc3545;
}

.button-grid-card {
  margin-left: 2%;
}

.span-error-filiale {
  margin-left: 6%;
}

.span-error-nag {
  margin-left: 2%;
}

.active {
  text-decoration: black;
}
